<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Item</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>
    <body>
        <form th:action="@{/add}" th:object="${ticket}" method="post">
            <h1>Add New Item</h1>
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
            <br/>
            <label>Description:</label>
            <input type="text" th:field="*{description}"/>
            <br/>
            <label>Priority:</label>
            <input type="number" th:field="*{priority}"/>
            <br/>
            <div>Status</div>
            <button type="submit">Save</button>
            <a th:href="@{/}">Back to List</a>

            <div th:if="error" th:switch="error" id="add-item-errors">
                <div th:case="missingAttributes">Fill in required attributes!</div>
                <div th:case="exceededTitleLength">Title too long!</div>
                <div th:case="exceededDescLength">Description too long!</div>
            </div>
        </form>
    </body>
</html>

