<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Ticket</title>
    <link th:href="@{/styles/view-ticket.css}" rel="stylesheet"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<div id="main-content">
    <div id="ticket-info">
        <h1 id="title" th:text="${ticket.name}"></h1>
        <p id="desc" th:text="${ticket.description}"></p>
    </div>
    <hr>
    <div id="comment-container">
        <div th:each="msg : ${messages}">
            <a th:text="|${#dates.format(msg.date.toGMTString(), 'dd-MM-yyyy HH:mm')} ${msg.user.displayName}: ${msg.comment}|"></a>
        </div>
    </div>

    <form class="submit-comment-form" th:action="@{|/msg/add/${ticket.id}|}" method="post">
        <input type="text" th:field="${message.comment}" autofocus>
    </form>

</div>
<div class="user-view">
    <p>Users in ticket</p>

    <form class="add-user-submit-form" th:action="@{|/${ticket.id}/participant/add|}" method="post">
        <input type="text" name="usernameToSearch">
    </form>

    <div th:if="${!usersInTicket.isEmpty()}" class="users-list">
        <hr>
        <p><strong>Users:</strong></p>
        <div th:each="userParticipant : ${usersInTicket}" th:object="${userParticipant.participant}">
            <a th:text="|${userParticipantStat.count}: |"></a>
            <a class="user-remove-attribute" th:text="|*{displayName}|" th:href="@{|/${ticket.id}/participant/remove/*{displayName}|}"></a>
        </div>
    </div>

    <div th:if="${findUserErrorMessage.isPresent()}">
        <p th:text="|Error: ${findUserErrorMessage.get()}|"></p>
    </div>
</div>
</body>
</html>